option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: web.wsgi
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: web.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /static/css: /web/static/css
    /static/star-ratings: ../venv/staging-LQM1lest/lib/python3.8/site-packages/star_ratings/static/star-ratings
