{% extends "eventify/base.html" %}
{% block content %}
{% load activity_tags %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ object.profile.image.url }}">
        <div class="media-body">
            <p class="account-heading">{{ object.first_name}} {{ object.last_name}}</p>
            <p class="text-secondary">Username: {{ object.username }}</p>
            <p class="text-secondary">Email: {{object.email }}</p>
            <p class="text-secondary">Credits: {{object.profile.credits }}</p>
            <a href="{% url 'followers_list' object.username %}"> Followers</a>
            <a href="{% url 'following_list' object.username %}"> Following</a>

            
            <form method="POST" action="{% url 'follow_unfollow_user' object.username %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                </div>
                {% if request.user|is_following:object %}
                <button class="btn btn-primary" name="unfollow" value="{{object.username}}" type="submit">Unfollow</button>
                {% else %}
                <button class="btn btn-primary" name="follow" value="{{object.username}}" type="submit">Follow</button>
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock content %}