{% extends "eventify/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load ratings %}


<div class="content-section">

    <!-- Author information -->
    <div class="media">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
            <h4 class="mt-0"><a href="{% url 'profiledetail' object.author.username %}">{{ object.author }}</a></h4>
            <h6 class="mt-0">{{ object.author.email }}</h6>
        </div>
        {% if object.author_id is not user.id %}
        {% if  isLate is  False %}

        {% if unRegister|length is not 0 %}  
        <form method="POST" action="{% url 'unregister_service' object.id %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="user_id" value="{{user.id}}">
            </div>
                 <button style="background-color: brown;"class="btn btn-primary" name="service_id" value="{{object.id}}"type="submit">Cancel Application</button> 
        </form>
        {% endif %}

        {% if approved|length is 0  and unRegister|length is 0 and object.IsCancelled is False %}  
        <form method="POST" action="{% url 'register_service' object.id %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="user_id" value="{{user.id}}">
            </div>
            <button class="btn btn-primary" name="service_id" value="{{object.id}}"type="submit">Apply</button> 
        </form>
        {% endif %}
        {% if approved|length is not 0 %}  
        <form method="POST" action="{% url 'register_service' object.id %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="user_id" value="{{user.id}}">
            </div>
            <p  style="background-color:rgb(0, 145, 43);" class="btn btn-primary" name="service_id" value="{{object.id}}"type="submit">Approved<p> 
          
        </form>
        {% endif %}
        
        {% else %}
        {% if object.IsCancelled is True%}
        <div class="alert alert-warning">
           Cancelled
          </div>
          {% else %}
          <div class="alert alert-warning">
            Application deadline has passed!
          </div>
          {% endif %}
          {% endif %}
          {% endif %}
      
    </div>
    <hr>

    <!-- Post information -->
    <div>
        <h1 class="mt-4">{{object.title}}</h1>
        <p>
            Posted on {{ object.date_posted|date:"F d, Y" }}
            {% if object.author == user and isLate is  False and object.IsCancelled is False%}
            <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'service_update' object.id %}">Update</a>
            {% if object.IsCancelled is False %}
            <a class="btn btn-danger btn-sm mt-1 mb-1 float-right mr-2 "
                href="{% url 'service_delete' object.id %}">Cancel</a>
                 {% endif %}
            {%elif isLate is  False and object.IsCancelled is True %}
            <a class="btn btn-danger btn-sm mt-1 mb-1 float-right mr-2 "
            href="#">Cancelled</a>
            {% endif %}
        </p>
    </div>
    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{object.picture.url}}" alt="" width="400" height="200">
    <hr>

    <!-- Post Content -->
    <p class="lead"><strong>Description: </strong> {{ object.content|safe|linebreaks }}</p>
    <p class="lead"><strong>Service Date: </strong> {{ object.eventdate|date}}</p>
    <p class="lead"><strong>Category: </strong>{{ object.category}} </p>
    <p class="lead"><strong>Start Time: </strong> {{ object.eventtime}} </p>
    <p class="lead"><strong>Duration: </strong> {{ object.duration}} Hours</p>
    <p class="lead"><strong>Capacity: </strong>{{ object.capacity}} People</p>
    <p class="lead"><strong>Address: </strong>{{ address}}</p>
   



    <div>
        <strong>Location: </strong>
        <input style="visibility: hidden; height: 0px; margin: 0px;" type="text" 
        name="location" value={{ object.location }} required id="id_location" 
        data-location-field-options="{&quot;map.provider&quot;: &quot;google&quot;, &quot;map.zoom&quot;: 13, 
            &quot;search.provider&quot;: &quot;google&quot;, &quot;search.suffix&quot;: &quot;&quot;, 
            &quot;provider.google.api&quot;: &quot;//maps.google.com/maps/api/js?sensor=false&quot;, 
            &quot;provider.google.api_key&quot;: &quot;AIzaSyCnZOziNKACqM7Q231fvGPtTJDxhqHe7ow&quot;, 
            &quot;provider.google.map_type&quot;: &quot;ROADMAP&quot;, &quot;provider.mapbox.access_token&quot;: 
            &quot;&quot;, &quot;provider.mapbox.max_zoom&quot;: 18, &quot;provider.mapbox.id&quot;: 
            &quot;mapbox.streets&quot;, &quot;provider.openstreetmap.max_zoom&quot;: 18, 
            &quot;resources.root_path&quot;: &quot;/static/location_field&quot;, &quot;resources.media&quot;: 
            {&quot;js&quot;: [&quot;/static/location_field/js/form.js&quot;]}, 
            &quot;provider.google.api_libraries&quot;: &quot;&quot;, 
            &quot;provider.google.map.type&quot;: &quot;ROADMAP&quot;, &quot;field_options&quot;: 
            {&quot;based_fields&quot;: [], &quot;prefix&quot;: &quot;&quot;}}">
        <div class="map-widget" style="margin-top: 4px">
            <div id="map_location" style="width: 880px; height: 250px"></div>
        </div>
    </div>

  
    <hr>
    {% with isBreak=False %}
    {% for register in registerservice %}
    {% if user.username == register.username and isLate is True %}
    {% with isBreak=True %}
    {% if isBreak == True  %}
    <p><strong>Ratings: </strong>{% ratings object %}</p>
    {% endif %}
    
    {% endwith %}
    {% endif %}
    {% endfor %}
    {% endwith %}
    <p class="lead"><strong>Already Enrolled: </strong> {{ registerservice|length}} </p>

    {% if object.author == user %}
    <button type="button" class="collapsible">Participants</button>
    <div class="content">
    {% for register in registerservice %}
      <p><strong>Username: </strong>{{register.username}}</p>
    {% endfor %}
    </div>
    {% endif %}

    {% if user.is_authenticated  %}
    <form method="POST" action="{% url 'approved' object.id %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="user_id" value="{{user.id}}">
        </div>
        {% if object.isGiven is True and object.author == user and isLate is True %}
        <button style="background-color: brown;" class="btn btn-primary" type="submit">Cancel Comfirmation</button>
        {% elif object.isGiven is False and object.author == user and isLate is True %}
        <button class="btn btn-primary" type="submit">Comfirm you give the service</button>
        {% else %}
        {% with isBreak=False %}
        {% for register in registerservice %}
        {% if user.username == register.username and isLate is True %}
        {% with isBreak=True %}
        {% if isBreak == True %}
        <button class="btn btn-primary" type="submit">Comfirm you take the service</button>
        {% endif %}
        
        {% endwith %}
        {% endif %}
        {% endfor %}
        {% endwith %}
        {% endif %}
    </form>
    {% endif %}
    <!-- Comment Form -->
    {% if user.is_authenticated %}
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form method="POST" action="{% url 'add_servicecomment' object.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="text" rows="3" required></textarea>
                    <input type="hidden" name="user_id" value="{{user.id}}">
                </div>
                <button class="btn btn-primary" type="submit">Comment</button>
            </form>
        </div>
    </div>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-success btn-lg btn-block mb-4">
    </a>
    {% endif %}

    <!-- Single Comments -->
    {% for servicecomment in object.servicecomment.all %}
    {% if servicecomment.approved_comment %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{servicecomment.author.profile.image.url }}" alt="">
        <div class="media-body">
            <h5 class="mt-0"><a href="{% url 'profiledetail' servicecomment.author.username %}">{{ servicecomment.author }}</a></h5>
            {{ servicecomment.text|linebreaks }}
            <hr>
        </div>
    </div>
    {% else %}
    <div class="alert alert-secondary" role="alert">
        No Comment has been posted.
    </div>
    {% endif %}
    {% endfor %}

 
</div>
<style>
    .collapsible {
      background-color: rgb(42, 148, 65);
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;
    }
    
    .active, .collapsible:hover {
      background-color: rgb(85, 85, 85);
    }
    
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #e9f2f8;
    }
    </style>

    <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";
} else {
  content.style.display = "block";
}
});
}
</script>
{% endblock content %}