{% extends "eventify/base.html" %}
{% block content %}
<!-- Search Form -->

<header><h1>Services</h1></header>


<form class="form-inline my-2 my-lg-0 pb-2">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search by keyword" aria-label="Search" style="width: 170px">

    <label class="form-control" for="cars">Search by Tag: </label>
    <select class="form-control mr-sm-2" name="cat" id="cat">
      <option value="all">All</option>
      <option value="Sport">Sport</option>
      <option value="art">Art</option>
      <option value="music">Music</option>
      <option value="cooking">Cooking</option>
      <option value="agriculture">Agriculture</option>
      <option value="handicraft">Handicraft</option>
      <option value="dance">Dance</option>
      <option value="cinema">Cinema</option>
      <option value="fashion">Fashion</option>
    </select>

    {% if user.is_authenticated %}
    <label class="form-control" for="cars">Search by Distance: </label>
    <select class="form-control" name="km" id="ranges">
      <option value="all">All Ranges</option>
      <option value="1.0">Inside Range 1KM</option>
      <option value="2.0">Inside Range 2KM</option>
      <option value="5.0">Inside Range 5KM</option>
      <option value="10.0">Inside Range 10KM</option>
      <option value="20.0">Inside Range 20KM</option>
    </select>
    {% endif %}
    <label class="form-control" for="checkbox-1">Promoted:</label>
    <input class="form-control" type="checkbox" name="promoted" id="checkbox-1" onchange="$('#mySearch').submit();" {% if request.GET.complete == 'True' %} checked {% endif %}>
    
    <input class="btn btn-outline-success my-2 my-sm-0" style="margin-left:20px"type="submit" value="Search">
</form> 


    {% for service in services %}
        <article  class="media content-section">
          <img class="rounded-circle article-img" src="{{ service.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profiledetail' service.author.username %}">{{ service.author }}</a>
              <small class="text-muted">{{ service.date_posted|date:"F d, Y" }}</small>
            </div>
          <h2><a class="article-title" href="{% url 'service_detail' service.pk %}">{{ service.title }}</a></h2>
            <p class="article-content">{{ service.content|safe }}</p>
            <p ><strong>Duration: </strong> {{ service.duration }} Hours </p>
            <p ><strong>Distance (KM): {{service.tempLocation }}</strong></p>
          </div>
          <div style="border-radius: 5px;" class="tags" name="{{service.category}}">
            {{service.category}}    
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
    <script>
      var getElm = document.getElementsByClassName('tags');
      for(var i = 0, l = getElm.length; i < l; i++) {
       if(getElm[i].getAttribute('name')=='Seminar'){
        getElm[i].style.background = '#7FFF00';
        }
        if(getElm[i].getAttribute('name')=='Conference'){
        getElm[i].style.background = '#00CED1';
        }
        if(getElm[i].getAttribute('name')=='Workshop'){
        getElm[i].style.background = '#87CEFA';
        }
        if(getElm[i].getAttribute('name')=='Themed party'){
        getElm[i].style.background = '#FF6347';
        }
        if(getElm[i].getAttribute('name')=='Webinar'){
        getElm[i].style.background = '#FFFF00';
        }
        if(getElm[i].getAttribute('name')=='Summit'){
        getElm[i].style.background = '#B0E0E6';
        }
        if(getElm[i].getAttribute('name')=='Music festival'){
        getElm[i].style.background = '#FFA07A';
        }
    }
    </script>
{% endblock content %}