{% extends "eventify/base.html" %}
{% block content %}
{% load activity_tags %}

{% load i18n %}
<h2>{% blocktrans %} {{username}}'s followers {% endblocktrans %}</h2>
<ul>
    {% for user in followers_list %}
    <article  class="media content-section">
        <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profiledetail' user.username %}">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
          {% if request.user|is_following:user %}
          <button class="btn btn-outline-primary" name="unfollow" value="{{object.username}}" type="submit">Unfollow</button>
          {% else %}
          <button class="btn btn-primary" name="follow" value="{{object.username}}" type="submit">Follow</button>
          {% endif %}
        </div>

      </article>
    {% endfor %}
</ul>

{% endblock content %}