{% extends "eventify/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div style="background-color: rgba(193, 230, 205, 0.445);"class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <p class="account-heading">{{ user.first_name}} {{ user.last_name}}</p>
            <p class="text-secondary">Username: {{ user.username }}</p>
            <p class="text-secondary">Email: {{user.email }}</p>
            <p class="text-secondary">Credits: {{credits }}</p>
        </div>
        <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'editprofile' %}">Update</a>
</div> 
<div  style="bottom:50%; left:32%">
    <button style="width:24%; background: #5f788a;"onclick="openEvent()" class="btn btn-primary">Events</button>
    <button style="width:24%;background: #5f788a;" onclick="openService()" class="btn btn-primary">Services</button>
    <button style="width:24%;background: #5f788a;"onclick="openMyServices()" class="btn btn-primary">MyServices</button>
    <button style="width:24%;background: #5f788a;"onclick="openApprovals()" class="btn btn-primary">Approvals</button>
</div>

<!-- <button onclick="openEvent()">Event</button>
<button onclick="openService()">Service</button> -->
</div>
<div id="myservices" style="display:none">
  {% for item in myregisterservice %}
  <article class="media content-section">
   <div class="media-body">
    <form method="POST" action="{% url 'approve_service_register'%}">
      {% csrf_token %}
      <div class="form-group">
          <input type="hidden" name="user_id" value="{{user.id}}">
          <input type="hidden" name="answer" value="True">
          <input type="hidden" name="item_id" value="{{item.id}}">
          <input type="hidden" name="author" value="{{item.author_id}}">
          <h4><a style="color:black;" href="{% url 'service_detail' item.service_id %}"><strong>Service Name: </strong>{{item.title}}</a></h4>
          {% if item.approved_register is True %}
          <p class="article-content"><strong>Status:</strong> Accepted</p>
          {%else%}
          <p class="article-content"><strong>Status:</strong> Pending</p>
          <button style="background-color:brown;color:white; float: right;" class="btn" name="type" value="Delete" type="submit">Cancel Application</button>
          {% endif %}
         
          </div>
  </form>

  
  </article>
  {% endfor %}
  {% if myregisterservice|length is 0 %}
<div class="alert alert-warning">
  No registered service found!
</div>
  {% endif %}
</div>


<div id="approvals" style="display:none">
  {% for item in registerservice %}
  <article class="media content-section">
   <div class="media-body">
    <form method="POST" action="{% url 'approve_service_register'%}">
      {% csrf_token %}
      <div class="form-group">
          <input type="hidden" name="user_id" value="{{user.id}}">
          <input type="hidden" name="answer" value="True">
          <input type="hidden" name="item_id" value="{{item.id}}">
          <input type="hidden" name="author" value="{{item.author_id}}">
          <p class="article-content"><strong>Service Name: </strong>{{item.title}}</p>
          <p class="article-content"><strong>Applicant:</strong> {{ item.username }}</p>
          <p class="article-content"><strong>Status:</strong> Pending</p>
    
           <button style="background-color:rgb(204, 16, 16);color:white;" class="btn " name="type" value="Delete" type="submit">Reject</button>
           <button style="background-color:rgb(0, 145, 43);color:white;" class="btn" name="type" value="Approve" type="submit">Approve</button>  
          </div>
  </form>

  
  </article>
  {% endfor %}
  {% if registerservice|length is 0 %}
<div class="alert alert-warning">
No pending confirmation!
</div>
  {% endif %}
</div>



<div id="event" style="display:block">
{% for post in object_list %}
<article class="media content-section">
 <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
 <div class="media-body">
   <div class="article-metadata">
     <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
     <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
   </div>
 <h2><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
   <p class="article-content">{{ post.content|safe }}</p>
 </div>
</article>
{% endfor %}
{% if object_list|length is 0 %}
<div class="alert alert-warning">
 There is no event to show
  </div>
    {% endif %}
</div>

<div id="service" style="display:none">
    {% for service in service_list %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ service.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user_services' service.author.username %}">{{ service.author }}</a>
          <small class="text-muted">{{ service.date_posted|date:"F d, Y" }}</small>
        </div>
      <h2><a class="article-title" href="{% url 'service_detail' service.pk %}">{{ service.title }}</a></h2>
        <p class="article-content">{{ service.content|safe }}</p>
      </div>
    </article>

    {% endfor %}
    {% if service_list|length is 0 %}
<div class="alert alert-warning">
There is no service to show
  </div>
    {% endif %}
</div>

<script>
    function openEvent() {
        var event = document.getElementById("event");
        var app = document.getElementById("approvals");
        var service = document.getElementById("service");
        var myservices = document.getElementById("myservices");
        event.style.display = "block";
        service.style.display="none";
        app.style.display = "none";
        myservices.style.display = "none";
      }
      </script>
    
    <script>
        function openService() {
            var event = document.getElementById("event");
            var service = document.getElementById("service");
            var app = document.getElementById("approvals");
            var myservices = document.getElementById("myservices");
            app.style.display = "none";
            event.style.display = "none";
            service.style.display="block";
            myservices.style.display = "none";
            
          }
          </script>
     <script>
      function openApprovals() {
          var app = document.getElementById("approvals");
          var service = document.getElementById("service");
          var event = document.getElementById("event");
          var myservices = document.getElementById("myservices");
          app.style.display = "block";
          event.style.display = "none";
          service.style.display="none";
          myservices.style.display = "none";
        }
        </script>      

<script>
  function openMyServices() {
      var app = document.getElementById("approvals");
      var service = document.getElementById("service");
      var event = document.getElementById("event");
      var myservices = document.getElementById("myservices");
      app.style.display = "none";
      event.style.display = "none";
      service.style.display="none";
      myservices.style.display = "block";
      
    }
    </script>      


{% endblock content %}

